{% extends 'base.html.twig' %}

{% block body %}
    <h1>empleados list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombrecompleto</th>
                <th>Sexo</th>
                <th>Cedula</th>
                <th>Telefono</th>
                <th>Tipodecomtrato</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for empleado in empleados %}
                <tr>
                    <td><a href="{{ path('empleados_show', { 'id': empleado.id }) }}">{{ empleado.id }}</a></td>
                    <td>{{ empleado.nombreCompleto }}</td>
                    <td>{{ empleado.sexo }}</td>
                    <td>{{ empleado.cedula }}</td>
                    <td>{{ empleado.telefono }}</td>
                    <td>{{ empleado.tipoDeComtrato }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('empleados_show', { 'id': empleado.id }) }}">show</a>
                            </li>
                            <!--<li>
                                <a href="{{ path('empleados_edit', { 'id': empleado.id }) }}">edit</a>
                            </li>--->
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('empleados_new') }}">Create a new entry</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="/">Inicio</a>
        </li>
    </ul>
{% endblock %}
